<div  class="tray-wrapper" *ngIf="organization">
 <div class="organization-info">
  <h1 class="organization-name">
    {{organization.name}}
  </h1>
  <h3 class="status-title">Status</h3>
  <p class="organization-status">{{organization.status}}</p>
  <h3 class="id-title">Organization ID</h3>
  <p class="organization-id">{{organization.id}}</p>
 </div>
<div class="btn-container">
  <button class="btn btn-close base-btn" (click)="onCloseTray()">Close</button>
  <button class="btn btn-delete base-btn" (click)="onDeleteOrganization(organization.id)">Delete</button>
</div>
</div>