<section class="products">
  <div class="products-container" *ngIf="products.length; else loading">
    <ul class="products__list products-list">
      <li class="products-list__item" *ngFor="let product of products; let i = index">
        <p>{{ i }}) {{ product.name }}</p>
        <div class="actions">
          <label [for]="i">
            <input name="products" [id]="i" type="radio" [value]="product" [(ngModel)]="selectedProduct">
          </label>
        </div>
      </li>
    </ul>
    <div class="products__form edit-form">
      <form class="" [formGroup]="editProductForm" (ngSubmit)="editProduct(selectedProduct)">
        <div class="form-control">
          <label for="name">Name:</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="form-actions">
          <button [disabled]="editProductForm.invalid">edit</button>
        </div>
      </form>
    </div>
    <div class="products__form add-form">
      <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
        <div class="form-control">
          <label for="addName">Name:</label>
          <input id="addName" type="text" formControlName="name">
        </div>
        <div class="form-control">
          <label for="addOrgId">Organization Id:</label>
          <input id="addOrgId" type="text" formControlName="orgId">
        </div>
        <div class="form-actions">
          <button [disabled]="addProductForm.invalid">add</button>
        </div>
      </form>
    </div>
    <button (click)="removeProduct(selectedProduct, products)">remove product</button>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</section>
