.app-table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.app-table {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    border-bottom: 1px solid black;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;

    &:hover {
      cursor: pointer;
      background-color: #eaeaea;
    }
  }
}
