<div class="organizations-container" *ngIf="organizations.length; else loading">
  <label for="orgs">Organizations switcher: </label>
  <select name="organizations" id="orgs" (change)="selectOrganization($event)">
    <option [selected]="org.id === selectedOrganization.id" *ngFor="let org of organizations; let i = index" [value]="org.name">{{ org.name}}</option>
  </select>
  <div class="org-form">
    <form [formGroup]="addOrgForm" (ngSubmit)="addNewOrganization()">
      <div class="org-form__control">
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name">
      </div>
      <div class="org-form__control">
        <label for="subId">Subscription id:</label>
        <input id="subId" type="text" formControlName="subId">
      </div>
      <div class="form-actions">
        <button [disabled]="addOrgForm.invalid">add org</button>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
