<div class="organizations">
  <h2 class="organizations__title">Organizations</h2>
  <button class="button" type="button">Create</button>

  <div class="organizations__table">
    <div class="organizations__table-header">
      <span>Name</span>
      <span>Status</span>
    </div>

    <div class="organizations__body">
      <div *ngIf="organizations$ | async as organizations;else preloader">
        <div *ngIf="organizations.length; else button">
          <ul class="organizations__list">
            <li *ngFor="let item of organizations"
                class="organizations__item">
              <span>{{item.name}}</span>
              <span>{{item.status}}</span>
            </li>
          </ul>
        </div>

        <ng-template #button>
          <div class="organizations__empty-list">
            <button class="button" type="button">Create organization</button>
          </div>
        </ng-template>
      </div>

      <ng-template #preloader>
        <app-preloader></app-preloader>
      </ng-template>
    </div>
  </div>
</div>
