<div class="tray-wrapper" *ngIf="data">
  <div class="componentInfo">
    <h1 class="componentInfo_name">
      {{data.name}}
    </h1>
    <h3 class="componentInfo_statusTitle">Status</h3>
    <p class="componentInfo_status">{{data.status}}</p>
    <h3 class="componentInfo_idTitle">{{data.label}} ID</h3>
    <p class="componentInfo_id">{{data.id}}</p>
  </div>
  <div class="componentInfo_btnContainer">
    <button class="btn btn-close base-btn" (click)="close()">Close</button>
    <button class="btn btn-delete base-btn" (click)="delete()">Delete</button>
  </div>
</div>