.tray-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 3px;

  .name {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 40px;
    text-align: center;
  }

  .status-title,
  .id-title {
    margin: 0;
    padding: 5px 10px;
  }

  .status,
  .id {
    margin: 0;
    padding: 5px 10px;
    font-style: italic;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    padding: 5px 15px;
    background: #fff;
    border: none;
    outline: none;
  }

  .base-btn {
    font-style: italic;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
  }

  .btn-close {
    &:hover {
      background: #ccc;
      color: #fff;
    }
  }

  .btn-delete {
    &:hover {
      background: #f00;
      color: #fff;
    }
  }
}
